@page "/"

<h3>Pizza Restaurant</h3>
<br />

<h4>Pizzas: </h4>
<div style="display: flex; flex-direction:row">
	<a class="btn btn-primary m-1" href="/pizzas" role="button">All Pizzas</a><br />
</div>

<br />
<h4>Orders: </h4>
<div style="display: flex; flex-direction:row">
	<a class="btn btn-primary m-1" href="/allorders" role="button">All Orders</a>
</div>
