@page "/"

<h3>Pizza Restaurant</h3>
<br />

<a class="btn btn-outline-primary" href="/allpizzas" role="button">All Pizzas</a>
<a class="btn btn-outline-primary" href="/allorders" role="button">All Orders</a>
