@page "/orders/{id:int}"

@inject IOrdersScreenUseCases OrdersScreenUseCases

<h3 class="text-center text-primary"><strong><a class="text-decoration-none" href="/orders">ORDERS</a></strong></h3>
@if (order != null)
{
	<OrderShowComponent order="order"></OrderShowComponent>
}
else if (!isOrderExits)
{
	<h4>Error 404 - This order not found.</h4>
}
else
{
	<span>Loading...</span>
}

@code {
	Order? order;

	bool isOrderExits = true;

	[Parameter]
	public int id { get; set; }

	protected override async Task OnParametersSetAsync()
	{
		try
		{
			order = await OrdersScreenUseCases.ViewOrderById(id);
		} catch( Exception e)
		{
			order = null;
			isOrderExits = false;
		}
	}
}
