@page "/allpizzas"

@inject IPizzasScreenUseCases PizzasScreenUseCases

<h3>All Pizzas</h3>
<br />
@if (pizzas != null)
{	
	<PizzasShowComponent pizzas="pizzas"></PizzasShowComponent>
}

@code {
	IEnumerable<Pizza>? pizzas;

	protected override async Task OnInitializedAsync()
	{
		pizzas = await PizzasScreenUseCases.ViewPizzas();
	}
}
